.logo{
  width: 20vw;
}

.header__element{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.header__icon{
  display: flex;
  justify-content: center;
}

.navbar__item a{
  color: #68904D;
  font-weight: bold;
}

.banner__pic{
  display: flex;
  width: 100%;
  height: 576px;
  flex-shrink: 0;
  background-image: url(banner.png);
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-end;
}

.banner__button{
  display: flex;
  width: 190px;
  background: #68904D;
  padding: 9px 29px 10.5px 30px;
  justify-content: center;
  align-items: flex-start;
  color: #EE9B01;
  font-family: Montserrat;
  font-size: 24px;
  border: none;
  position: relative;
  left: 7%;
}

.banner__paragraph{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 45px;
}

.banner__paragraph h1, .banner__paragraph h2{
  color: #EE9B01;
}

.banner__paragraph h2{
  font-size: 23px;
}

.banner__title{
  color: #68904D;
  position: relative;
  margin-top: 45px;
}

.bestsellers__title{
  display: flex;
  justify-content: center;
  color: #EE9B01;
  margin-bottom: 45px;
  padding-top: 45px;
}

.bestsellers__block{
  background-color: #C8D2D1;
}

.bestsellers__list{
  display: flex;
  justify-content: space-between;
}

.bestsellers__list div h6{
  font-size: 18px;
  color: #EE9B01;
  margin: 15px 0px 30px 0px;
}

.bestsellers__list__image{
  width: 179px;
}

.bestsellers__list__button{
  display: flex;
  padding: 8px 24.22px 9.5px 25px;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #68904D;
  background: #EE9B01;
  color: #14471E;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.5px; 
}

.elementor__expert{
  margin-top: 100px;
  display: flex;
}

.elementor__expert h1{
  display: flex;
  justify-content: center;
}

.microscope__image{
  width: 280px;
}

.elementor__expert__first__block{
  background-color: #EE9B01;
  padding: 55px 0px 55px 0px;
  margin-top: 120px;
  width: 800px;
  height: 350px;
}

.elementor__expert__second__block{
  background-color: #FFFFFF;
  width: 400px;
  height: 500px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.elementor__expert__second__block h1, .elementor__expert__second__block p{
  color: #EE9B01;
  font-size: 25px;
  margin: 20px;
}