.logo{
  width: 20vw;
}

.header__element{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.header__icon{
  display: flex;
  justify-content: center;
}

.navbar__item a{
  color: #68904D;
  font-weight: bold;
}

.banner__pic{
  display: flex;
  width: 100%;
  height: 576px;
  flex-shrink: 0;
  background-image: url(banner.png);
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-end;
}

.banner__button{
  display: flex;
  width: 190px;
  background: #68904D;
  padding: 9px 29px 10.5px 30px;
  justify-content: center;
  align-items: flex-start;
  color: #EE9B01;
  font-family: Montserrat;
  font-size: 24px;
  border: none;
  position: relative;
  left: 7%;
}

.banner__paragraph{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 45px;
}

.banner__paragraph h1, .banner__paragraph h2{
  color: #EE9B01;
}

.banner__paragraph h2{
  font-size: 23px;
}

.banner__title{
  color: #68904D;
  position: relative;
  margin-top: 45px;
}

.bestsellers__title{
  display: flex;
  justify-content: center;
  color: #EE9B01;
  margin-bottom: 45px;
}

.bestsellers__block, .novelty__block, .experience, .review__block{
  background-color: #C8D2D1;
}

.review__block{
  padding-bottom: 180px;
}

.bestsellers__list{
  display: flex;
  justify-content: space-between;
}

.bestsellers__list div h6{
  font-size: 18px;
  color: #EE9B01;
  margin: 15px 0px 30px 0px;
}

.bestsellers__list__image, .novelty__list__image{
  width: 179px;
}

.bestsellers__list__button, .novelty__list__button{
  display: flex;
  padding: 8px 24.22px 9.5px 25px;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #68904D;
  background: #EE9B01;
  color: #14471E;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.5px; 
}

.container{
  padding-top: 40px;
}

.elementor__expert{
  margin-top: 160px;
  display: flex;
  flex-wrap: wrap;
}

.elementor__expert h1, .novelty h1, .advantage__block h1, .review h1{
  display: flex;
  justify-content: center;
  color: #EE9B01;
}

.elementor__expert__block{
  display: flex;
}

.microscope__image{
  width: 280px;
}

.elementor__expert__first__block{
  background-color: #EE9B01;
  padding: 55px 0px 55px 0px;
  margin-top: 80px;
  width: 800px;
  height: 350px;
}

.elementor__expert__second__block{
  background-color: #FFFFFF;
  width: 400px;
  height: 500px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.elementor__expert__second__block h1, .elementor__expert__second__block p{
  color: #EE9B01;
  font-size: 25px;
  margin: 20px;
}

.banner__two img{
  width: 100%;
}

.novelty__list{
  display: flex;
  margin-top: 45px;
  justify-content: space-between;
}

.novelty__list div h6 {
  font-size: 18px;
  color: #EE9B01;
  margin: 15px 0px 30px 0px;
}

.review__wrapper{
  margin-top: 45px;
  background-color: #EE9B01;
  width: 45%;
  height: 250px;
}

.review__wrapper p{
  padding: 80px;
  font-size: 25px;
}

.review__block__list{
  display: flex;
  justify-content: space-around;
}

.experience{
  padding-top: 140px;
}

.experience__image__block img{
  width: 70%;
  width: 670px;
  height: auto;
}


.experience__image__block{
  display: flex;
}

.experience__block div{
  padding: 25px;
}

.experience__block div h1 {
  font-size: 24px;
  color: #EE9B01;
}

.experience__block div p{
  font-size: 18px;
  color: #EE9B01;
  margin-top: 45px;
}

.experience__block div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 400px;
  background-color: #FFF;
}

.experience__block__button{
  width: 85%;
  margin-top: 35px;
  color: #EE9B01;
  border: 2px solid #EE9B01;
  padding: 10px;
}

.advantage__list{
  display: flex;
  justify-content: space-evenly;
}

.advantage__list h1{
  margin-top: 15px;
  font-size: 20px;
}

.advantage__list div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.advantage{
  background-color: #FFFFFF;
}

.registration__block{
  background-color: #C8D2D1;
  padding-bottom: 80px;
}

.registration__block__text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  color: #EE9B01;
  font-size: 22px;
  padding: 40px 0px 0px 0px;
}

.registration__input{
  background-color: #EE9B01 !important;
  border-radius: 0px !important;
  color: #757575 !important;
}

.registration__block__button{
  background-color: #EE9B01 !important;
  color: #14471E !important;
  border: 1px solid #68904D !important;
  border-radius: 0px !important;
}

.footer__list{
  display: flex;
  justify-content: space-evenly;
}

.footer__list__item p{
  margin: 0;
  color: #EE9B01;
}

.social__icons{
  display: flex;
  flex-direction: row;
}

@media (max-width: 1345px){
  .elementor__expert__block{
    flex-direction: column;
    width: 100vw !important;
    align-content: center;
    flex-wrap: wrap;
  }
  .elementor__expert{
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 1245px){
  .experience__image__block img{
    display: none;
  }
  .experience__image__block{
    justify-content: center;
  }
}

@media (max-width: 1404px){
  .review__block__list{
    flex-direction: column;  
    align-content: space-around;
    flex-wrap: wrap;
  }
}

@media (max-width:  1000px){
  .advantage__list div h1{
    font-size: 90%;
  }
  .advantage__list div p{
    font-size: 90%;
    width: 80%;
  }
  .bestsellers__list{
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
  }
}

@media (max-width: 808px){
  .advantage__list div h1{
    font-size: 130%;
  }
  .advantage__list div p{
    font-size: 100%;
  }
  .advantage__list{
    flex-direction: column;
    align-items: center;
  }
  .elementor__expert__first__block{
    width: 100vw;
  }
  .elementor__expert__second__block{
    margin-left: 25%;
  }
}

@media (max-width: 992px){
  .novelty__list{
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .novelty__list div{
    padding: 55px;
  }
  .review__wrapper{
    width: 75%;
  }
  .bestsellers__list div {
    padding: 55px;
}
}


@media (max-width: 590px){
  .review__wrapper p{
    font-size: 3.7vw;
  }
}

